body {
    background-image: url(/BusMall/assets/cc0623c07e135609973a7aa7c592f571.jpg);
  }
  header {
    text-align: left;
    border: 5px solid #163A38;
    margin-bottom: 40px;
    background-image:url('/BusMall/assets/0d1e5da01cda1da4a009c94729cadf75.jpg');
}
#logo {
    float:right;
     filter: blur(0px);
      width: 300px;
      height: 200px;
      border: none;
      padding-right: 50px;
      margin: 0px;
      border-radius:0px;
  
  }
h1 {
    color:#163A38;
    font-family: 'Righteous', cursive;
    margin-left: 100px ;
    font-size: 80px;
    letter-spacing: 5px;
    margin-top:10px;
    margin-bottom:10px;

  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px;
  }
  header nav ul li a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Righteous', cursive;
  }
  header nav ul li a:hover {
    color: white;
  }
  #imagesSection  {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    cursor:pointer ;
    
  }
  img {
    filter: blur(2px);
    width: 250px;
    height: 250px;
    border: 2px solid#366055;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
  }

  img:hover {
    filter: blur(0px);
    transform: scale(1.3);
  }
  